.faq {
  background-color: #1a1a1a;
  justify-content: center;
}

.faq h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
  font-size: 25px;
  font-family: 'Pou';
  user-select: none;
  letter-spacing: 0.5px;
}

.card {
  padding: 0 20px;
  width: 580px;
  height: var(--menu-height);
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 15px 30px rgba(249, 249, 249, 0.2);
  transition: all 300ms;
}

.buttons {
  padding-top: 20px;
  width: var(--sidebar-width);
}

.buttons button {
  font-size: 15px;
  width: 100%;
  height: 42px;
  padding: 0 0 0 12px;
  background: transparent;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
  color: #1a1a1a;
  transition: all 250ms ease;
}

.buttons button:hover {
  background: #caeec2;
}

.buttons button.active {
  background: var(--bright-mid-green);
  color: #f9f9f9;
}

.wrapper {
  overflow: hidden;
  flex: 1 1 auto;
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: calc(var(----menu-height) * 3);
  transition: all 600ms;
}

.content p {
  display: flex;
  line-height: 1.6;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: rgba(26, 26, 26, 0.7);
}

.block {
  padding: 0 20px;
  height: var(--menu-height);
}

.block h3 {
  text-align: unset;
  padding-top: 20px;
  margin: 0 0 6px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .faq {
    padding-top: 2rem;
  }

  .faq h2 {
    font-size: 24px;
  }

  .card {
    display: grid !important;
    grid-template-rows: 25% 75%;
    width: 100%;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .buttons button {
    text-align: center;
    padding: 3px;
    height: 100%;
  }
}
