.faq {
    padding: 4rem 2rem;
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: .7px;
}

.faq h3 {
    padding: 15px;
    font-size: 20px;
    border: 1px solid var(--bright-mid-green);
    background-color: #1A1A1A;
    color: var(--bright-green)
}

.faq svg {
    transform: translateY(5px);
}

.faq p {
    letter-spacing: .6px;
    border: 1px solid var(--bright-mid-green);
    border-top: 0px;
    background-color: #1A1A1A;
    color: white;
    padding: 10px 15px;
    margin-bottom: 1px;
}