.title {
  background-color: var(--bright-mid-green);
  border-radius: 30px;
  border: 2px solid #1a1a1a;
  box-shadow: 4px 4px 10px #1a1a1a;
  padding: 2.5rem;
  margin: 35px 0 100px 12%;
  max-width: 700px;
}

.title h2 {
  font-size: 34px;
  letter-spacing: 0.6px;
  font-weight: bold;
  margin-bottom: 25px;
}

.title h3 {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #1a1a1a;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h4 {
  font-family: 'Pou';
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.timeline {
  width: 80%;
  max-width: 800px;
  grid-template-columns: 1fr 3px 1fr;
}

.timeline-content {
  display: flex;
  background: #1f1f1f;
  box-shadow: 4px 4px 10px #1a1a1a;
  color: white;
  padding: 1.5rem;
  border-radius: 6px;
  transform: translateY(-33px);
}

.timeline-content h3 {
  color: var(--bright-green);
  font-size: 25px;
  margin-bottom: 24px;
  letter-spacing: 0.6px;
  font-weight: bold;
}

.timeline-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.number span {
  color: gray;
  font-family: 'Pou';
  font-size: 33px;
  margin-right: 10px;
}

.right {
  justify-content: space-between;
}

.timeline-component {
  margin: 0px 25px 50px 25px;
}

.timeline-middle {
  position: relative;
  background-color: #e1e1e1;
  width: 2px;
  height: 100%;
}

.timeline-circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bright-green);
  box-shadow: 0 0 0 7px rgba(0, 206, 34, 0.1);
  transform: translateX(-50%);
}

.last-child {
  background-color: transparent;
}

.seo {
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.seo h3 {
  font-weight: bold;
  font-family: 'Pou';
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: 34px;
  text-transform: uppercase;
}

.seo-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: calc(100% - 64px) 64px;
}

.seo-container img,
.seo-container svg {
  align-self: center;
}

.tekst-seo {
  align-self: center;
  width: fit-content;
}

.tekst-seo h4 {
  font-family: 'Pou';
  letter-spacing: 0.5px;
  font-size: 27px;
  margin-bottom: 7px;
}

.tekst-seo p {
  font-size: 22px;
  max-width: 400px;
}

@media screen and (max-width: 800px) {
  .title {
    margin: 50px 20px;
  }

  .title h2 {
    text-align: center;
  }

  .title h3 {
    width: 100%;
  }

  .heading {
    width: 50%;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .design-section {
    margin-left: 20px;
    padding-bottom: 0;
  }

  .timeline {
    display: block !important;
  }

  .timeline-circle-800 {
    position: absolute;
    top: -131px;
  }
}
