.header {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding: 2rem;
  padding-left: 0;
  column-count: 3;
}

.logo {
    text-align: center;
    font-size: 40px;
}

.first-piece-logo {
  background-color: black;
  width: 300px;
  color: white;
  padding: 10px;
}

.second-piece-logo {
  color: black;
}
