.header {
  height: 100vh;
  max-height: 850px;
  justify-content: center;
  align-content: center;
  background-color: #6d523c;
  position: relative;
}

.header video {
  position: absolute;
  width: 100%;
  max-height: 850px;
  height: 100vh;
  filter: brightness(53%);
  object-fit: cover;
}

.header h1 {
  font-size: 50px;
  font-family: 'Pou';
  transform: translateY(-60px);
  color: white;
  z-index: 2;
}

.header a {
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: #6f533d;
  transform: translateY(-15px);
  color: white;
  transition: all 0.5s;
  z-index: 2;
}

.header a:hover {
  background-color: white;
  border: 1px solid #6f533d;
  color: #6f533d;
}

@media screen and (max-width: 800px) {
  .header h1 {
    font-size: 45px;
    transform: translateY(-30px);
  }
}
