.footer {
  padding: 3rem;
  width: 100%;
  background-color: rgb(26, 26, 26);
  color: white;
}

.footer > .upper-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-bottom: 50px;
}

.footer > .upper-footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--bright-green);
  font-weight: bold;
  letter-spacing: 0.7px;
}

.konakt {
  display: grid;
}

.kontakt a {
  color: white;
  text-decoration: underline;
}

.container {
  display: flex;
  padding-bottom: 20px;
  position: relative;
}

.container svg {
  margin-top: -7px;
  margin-right: 6px;
}

.pin-container {
  width: 32px;
  display: block;
}

.pin-container svg {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

.strony li,
.strony a {
  color: white;
  margin-bottom: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.strony a:hover {
  color: var(--bright-mid-green);
}

.strony svg {
  margin-bottom: -4px;
  margin-right: 3px;
}

.faq li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.book {
  fill: white;
  transition: 0.3s;
}

.faq li:hover,
.faq li:hover .book {
  color: var(--bright-mid-green);
  fill: var(--bright-mid-green);
}

.faq svg {
  margin-bottom: -5px;
  margin-right: 5px;
}

.socials {
  text-align: center;
}

.socials svg {
  margin-right: 4px;
  transition: 0.5s;
  color: white;
}

.Linkedin svg,
.Twitter svg,
.Instagram svg {
  fill: white;
}

.Linkedin svg:hover {
  fill: #0077b5;
}

.Twitter svg:hover {
  fill: #1da1f2;
}

.Facebook svg:hover {
  color: #3b5998;
}

.Instagram svg:hover {
  fill: #f15245;
}

.footer > .down-footer {
  font-size: 18px;
}

.copyright a {
  color: white;
  text-decoration: underline;
}

.icon {
  margin-bottom: -2px;
}
