.footer {
  padding: 3rem 5rem;
  background-color: rgb(26, 26, 26);
  color: white;
}

.footer > .upper-footer {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-bottom: 50px;
}

.footer > .upper-footer h3 {
  font-size: 22px;
  font-family: "Pou" !important;
  margin-bottom: 20px;
  color: var(--bright-green);
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
}

.kontakt a {
  color: white;
  text-decoration: underline;
}

.container {
  padding-bottom: 20px;
  position: relative;
}

.container svg {
  margin-top: -7px;
  margin-right: 6px;
}

.pin-container {
  width: 32px;
  display: block;
}

.pin-container svg {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

.strony li,
.strony a {
  color: white;
  margin-bottom: 8px;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}

.strony a:hover {
  color: var(--bright-mid-green);
}

.strony a:hover .arrow-on-hover {
  display: unset;
}

.strony svg {
  margin-bottom: -4px;
  margin-right: 3px;
}

.arrow-on-hover {
  display: none;
  position: relative;
  top: 0;
  margin-left: 5px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--bright-mid-green);
  stroke-width: 2;
  transform: translateX(-5px) translateY(-4px) rotate(-45deg);
}

.faq li,
.faq a {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.book {
  fill: white;
  transition: 0.15s;
}

.faq a:hover,
.faq li:hover,
.faq li:hover .book {
  color: var(--bright-mid-green);
  fill: var(--bright-mid-green);
}

.faq svg {
  margin-bottom: -5px;
  margin-right: 5px;
}

.socials svg {
  margin-right: 4px;
  transition: 0.5s;
  color: white;
}

.Linkedin svg,
.Twitter svg,
.Instagram svg {
  fill: white;
}

.Linkedin svg:hover {
  fill: #0077b5;
}

.Twitter svg:hover {
  fill: #1da1f2;
}

.Facebook svg:hover {
  color: #3b5998;
}

.Instagram svg:hover {
  fill: #f15245;
}

.footer > .down-footer {
  font-size: 18px;
}

.copyright a {
  color: white;
  text-decoration: underline;
}

.icon {
  margin-bottom: -2px;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 3rem;
  }

  .footer > .upper-footer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }

  .socials {
    text-align: unset !important;
    display: grid;
    width: fit-content;
    row-gap: 5px;
  }

  .socials svg {
    transform: translateY(7px);
  }

  .Twitter::after,
  .Facebook::after,
  .Instagram::after,
  .Linkedin::after {
    color: white;
    font-size: 22px;
    margin-left: 5px;
    letter-spacing: 0.7px;
  }

  .Linkedin svg {
    fill: #0077b5;
  }

  .Twitter svg {
    fill: #1da1f2;
  }

  .Facebook svg {
    color: #3b5998;
  }

  .Instagram svg {
    fill: #f15245;
  }

  .Twitter::after {
    content: 'Twitter';
  }

  .Facebook::after {
    content: 'FaceBook';
  }

  .Instagram::after {
    content: 'Instagram';
  }

  .Linkedin::after {
    content: 'Linkedin';
  }

  .copyright a {
    display: grid;
  }
}
