@import './css-reset.css';

:root {
  --bright-green: #46e311;
  --bright-mid-green: #37b60c;

  --sidebar-width: 160px;
  --menu-height: 240px;
  scroll-behavior: smooth;
}

body {
  background: #f1f0fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.font-center {
  text-align: center;
}

@font-face {
  font-family: 'Pou';
  font-style: normal;
  font-weight: 400;
  src: url(./Assets/Pou.ttf) format('truetype');
  font-display: swap;
}

@media screen and (max-width: 800px) {
  :root {
    --menu-height: 360px;
    --sidebar-width: 100%;
  }
}
