@import './css-reset.css';

:root {
  --bright-green: #46e311;
  --bright-mid-green: #37b60c;

  --sidebar-width: 160px;
  --menu-height: 240px;
  scroll-behavior: smooth;
}

body {
  background: #f1f0fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.font-center {
  text-align: center;
}
