.navbar {
  grid-template-columns: 25% 50% 25%;
  padding-left: 4rem;
  padding: 2rem;
  padding-left: 0;
  column-count: 3;
}

.logo {
  transform: translateY(-2rem);
  max-width: 350px;
}

.nav {
  margin-top: 2.5rem;
}

.nav-link {
  color: black;
  margin: 0 15px 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: all 0.4s;
  text-transform: uppercase;
  user-select: none;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.active-nav-link {
  position: relative;
  color: var(--bright-mid-green);
  border-bottom: 1px solid var(--bright-mid-green);
}

.right-button {
  margin-top: 2.5rem;
  margin-right: 30px;
  float: right;
  max-width: 200px;
}

.right-button span {
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  padding: 8px 20px;
  background-color: #006d5a;
  border: 1px solid #006d5a;
  color: white;
  border-radius: 50px;
  width: 80%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.right-button:hover span{
  background-color: transparent;
  color: #006d5a;
}
